body {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #FFFF99;
    overflow-y: scroll; /* Enable vertical scrolling */
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .box body {
    background: linear-gradient(to right, #2c5364, #0f2027);
    height: 100vh;
    display: flex;
    align-items: flex-end; /* Align at the bottom */
    justify-content: center;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    justify-content: center;
    margin-top: 100px;
    margin-left: -10px; /* Add this line to move the box to the left */
    margin-bottom: 200px;
  }  
  
  @keyframes rotate{
     0% {
      transform: perspective(1000px) rotateY(0deg);
     }

     100% {
      transform: perspective(1000px) rotateY(360deg);
     }
  }

  .box span {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
  }

  .box span img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    transition-delay: 2s;
  }

  .box span:hover img{
    transform: translateY(-50px) scale(1.2);
  }


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .birthdayCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
    margin-bottom: 20px;
  }
  
  .birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 0 10px 100px rgba(0, 0, 0, 0.3);

  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg); 
  }
  
  .birthdayCard:hover .front-text {
    display: none;
  }
  
  .birthdayCard:hover .wrap-deco {
    display: none;
  }
  
  .birthdayCard:hover .wrap-decoTwo {
    display: none;
  }
  
  .birthdayCard:hover .plate {
    display: none;
  }
  .subCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cardFront {
    position: relative;
    background-color: #fff;
    width: 250px;
    height:350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
    transition: .4s;
  }
  
  .happy, .toyou {
    position: relative;
    font-family: 'didot';
    text-align: center;
    backface-visibility: hidden;
    font-size: 30px; 
    width: 100%;
    bottom: 20px;
    left: 0;
    margin: 0;
  }
  
  .happy {
    top:204px;
  }
  
  .toyou {
    top:185px;
  }
  
  .bday {
    position: relative;
    font-family: arial;
    font-size: 35px;
    text-align: center;
    top: 200px;
  }
  
  .wrap-deco {
    position: absolute;
    top:-230px;
    left:-200px;
  }
  
  .decorations {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  .decorations:before, .decorations:after, .decorationsTwo:before, .decorationsTwo:after, .decorationsThree:before, .decorationsThree:after {
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width:0;
    height:0;
  }
  
  .decorations:before {
    border-top: 40px solid #f15bb5;
    top:297px;
    left:210px;
    transform: rotate(-5deg);
  }
  
  .decorations:after{
    border-top: 40px solid #f4d35e;
    top:288px;
    left:260px;
    transform: rotate(-17deg);
  }
  
  .decorationsTwo:before {
    border-top: 40px solid #00f5d4;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .decorationsTwo:after, .decorationsThree:after {
    border-top: 40px solid #9b5de5;
    top:238px;
    left:355px;
    transform: rotate(-40deg);
  }
  
  .wrap-decoTwo {
    transform: scaleX(-1);
    position: absolute;
    top:-230px;
    left:445px; 
  }
  
  .decorationsThree:before {
    border-top: 40px solid #00bbf9;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .plate {
    position: absolute;
    width: 130px;
    height: 5px;
    background-color: #00bbf9;
    left:60px;
    top:205px;
  }
  
  .cake {
    position: absolute;
    overflow: hidden;
    width:100px;
    height: 45px;
    background-color: #f15bb5;
    border-radius: 10px 10px 0 0;
    top:-50px;
    left:15px;
    box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
  }
  
  .cake:before {
    content:"";
    position: absolute;
    background-color: #432818;
    width:10px;
    height:20px;
    top:5px;
    border-radius:20px;
    box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5, 40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5, 80px 5px #432818, 90px 5px #f15bb5;
  }
  
  .plate:before {
    content:"";
    position: absolute;
    background: repeating-linear-gradient(-45deg, #9b5de5, #9b5de5 3px, #00f5d4 3px, #00f5d4 6px);
    width:7px;
    height: 25px;
    top:-75px;
    left:61px;
  }
  
  .plate:after {
    content:"";
    position: absolute;
    width:1px;
    height: 5px;
    background-color: #333;
    top:-80px;
    left:64px;
  }
  
  
  .flame {
    position: absolute;
    background-color: #fb5607;
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotate(-45deg);
    width:15px;
    height:15px;
    opacity:0.7;
    top:-93px;
    left:57px;
  }
  .cardInside {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
  }
  
  .inside-text {
    position: relative;
    top:-160px;
    transform: scale(0.7);
  }
  
  .wishes {
    position: relative;
    top:-50px;
    margin: 25px;
  }
  
  p {
    font-family: 'Brush Script MT', cursive;
    color: #333;
  }
  
  .name {
    margin-left:150px;
  }
  
  .subCardContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: auto;
}
  
  .subCard {
    margin: 0 10px;
  }
  .subCard {
    position: relative;
    z-index: 2;
    width: 250px;
    height: 350px;
    margin: 0 30px; /* Add margin here */
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
    margin-bottom: 20px;
  }
  
  .subCard:hover {
    transform: perspective(2500px) rotateY(-10deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .15), 0 10px 100px rgba(0, 0, 0, 0.3);
  }
  
  .subCard .cardFront {
    transform: rotateY(0deg);
    transition: transform 0.4s;
  }
  
  .subCard:hover .cardFront {
    transform: rotateY(-160deg); 
  }
  
  .subCard .front-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .subCard .front-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .subCard .wrap-deco,
  .subCard .wrap-decoTwo,
  .subCard .plate {
    transition: opacity 0.4s;
  }
  
  .subCard:hover .wrap-deco,
  .subCard:hover .wrap-decoTwo,
  .subCard:hover .plate {
    opacity: 0;
  }
  
  .subCard .cardInside {
    position: absolute;
    background-color: #fff;
    width: 250px;
    height: 350px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s, transform 0.4s;
  }
  .subCard:hover .cardInside {
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
  }
  
  .subCard .inside-text {
    position: relative;
    top: -160px;
    transform: scale(0.7);
    color: black; /* Change the text color to black or any other desired color */
    transition: top 0.4s, transform 0.4s;
  }
  
  .subCard:hover .inside-text {
    top: -160px;
  }
  
  .subCard .wishes {
    position: relative;
    top: 100px;
    margin: 25px;
    color: #333; /* Change to a darker shade if needed */
    transition: top 0.4s;
    text-align: left;
    
  }
  
  .subCard:hover .wishes {
    top: -50px;
  }
  
  .subCard p {
    font-family: 'Brush Script MT', cursive;
    color: black; /* Change the text color to black or any other desired color */
    transition: color 0.4s;
  }
  
  .subCard:hover p {
    color: #000000;
  }
  
  .subCard .name {
    margin-left: 150px;
    color: black; /* Change the text color to black or any other desired color */
    transition: color 0.4s;
  }
   
  .subCard:hover .name {
    color: #000000;
  }
  
  .wishes {
    height: 200px; /* Adjust the height based on your requirements */
    overflow-y: scroll;
  }
  .wishes {
    /* ... */
    scrollbar-width: thin;
    scrollbar-color: #888888 #f9f9f9;
  }
  
  .wishes::-webkit-scrollbar {
    width: 8px;
  }
  
  .wishes::-webkit-scrollbar-track {
    background-color: #f9f9f9;
  }
  
  .wishes::-webkit-scrollbar-thumb {
    background-color: #888888;
  }
    